[mysqld]

# for utf-8
init_connect='SET collation_connection = utf8_unicode_ci, NAMES utf8'
init_connect='SET NAMES utf8'
character-set-server=utf8
collation-server=utf8_unicode_ci
skip-character-set-client-handshake

# Storage engine  by default is MyISAM  which does not work well for commander
default_storage_engine=InnoDB

# Increase innodb_lock_wait_timeout to 300 seconds (NMB-13898)if you see a lot of
#org.hibernate.exception.LockTimeoutException in the commander logs as
#default 50 sec is too low.
innodb_lock_wait_timeout=300

port = 3306
transaction-isolation=REPEATABLE-READ

#If using Mysql 5.7 table_cache should be renamed to table_open_cache
table_open_cache=2048
# query_cache_size=32M
sort_buffer_size=6M
tmp_table_size=64M
max_heap_table_size=64M
read_rnd_buffer_size=512K

# On 64-bit MySQL, you can now bump innodb_buffer_pool_size to over 1500 MB if you 
# have enough memory available.

innodb_buffer_pool_size=512M
innodb_file_per_table
connect_timeout=14400

#For large commander property operations to work
max_allowed_packet=2048M

#Commander needs atleast 200 connections.
max_connections=2000



open_files_limit = 10000
### Increase the number of file descriptors, we're not in stone age now.

tmpdir = /tmp
### Don't use tmpfs for tmpdir, or AIO will be disabled. And make sure
### There's enough room for temporary tables and files (usually 2-5GB)

skip-external-locking
key_buffer_size = 16M
net_buffer_length = 8K
read_buffer_size = 256K
myisam_sort_buffer_size = 8M                                                                                                                                                                    

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
